<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>face-palm</title>
</head>

<body>
    <h1>Simple Shite</h1>

    <ul>
    <% for(var i=0; i<posts.length; i++) {%>
        <li class="quote">
            <span><%= posts[i].name %></span>
            <span><%= posts[i].text %></span>
        </li>
    <% } %>
    </ul>

    <form action="/posts" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="text" name="text">
        <button type="submit">Submit</button>
    </form>
</body>

</html>
